<nb-layout>
  <nb-layout-header>Tictactoe</nb-layout-header>
  <nb-layout-column class="board-container">
    <nb-card  accent="info">
      <nb-card-body>
        {{ message }}
      </nb-card-body>
    </nb-card>
    <div class="board">
      <app-square
      *ngFor="let square of board; let i = index"
      [value]="square"
      (click)="action(i, $event)"
      ></app-square>
    </div>
    <div class="button-container">
      <!-- <button nbButton ghost status="info" (click)="backToMenu()">Back To Menu</button> -->
      <button nbButton ghost status="warning" (click)="newGame()">New Game</button>
    </div>
  </nb-layout-column>
</nb-layout>
